# 測試 及 觀察 數據

In [1]:
from ReadData import *

In [2]:
user = ReadData("project.db", "User")
user.show()

,id,username,password,email
0,1,AnsonCar,b'$2b$12$Zqn.qbsfkLibLkWw6FtoqOhIsyU4qPpdd7tKr...,anson1tsang@gmail.com
1,2,AnsonCarWork,b'$2b$12$LPuJxxCrH74MNnSBWt73Qe.pGdrBMmuVhFSPi...,ansoncarwork@gmail.com
2,3,Test,b'$2b$12$fAZMeyb/yaYJJx0fp5tE5utmKVZAdSyCbOQYL...,test@test.com

In [3]:
report = ReadData("project.db", "Report")
report.show()

   id reportname reportabout
0   1        PBL
1   2       Test        Test

In [4]:
report = ReadData("project.db", "Reportphoto")
report.show()

Empty DataFrame
Columns: [id, reportid, reportphoto]
Index: []

In [5]:
# user.toFile("test.sql")